
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

body{
  background-color: #F7F7F8;
}
@font-face{
  font-family: 'headings';
  src: url(./text/P22Mackinac-Medium_6.otf);
}
@font-face{
  font-family: 'paragraph-1';
  src: url(./text/Haffer-TRIAL-Regular.otf);
}
@font-face{
  font-family: 'paragraph-2';
  src: url(./text/Haffer-TRIAL-Medium.otf);
}
@font-face{
  font-family: 'paragraph-3';
  src: url(./text/Haffer-TRIAL-Bold.otf);
}
/* Navigation-Bar */ 
.mob-header{
  display: none;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #ffffff;
}
.header{
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #ffffff;
}
.head-inner-container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: nowrap; 
  position: sticky;
  top: 0px;
  z-index: 10;
  /* background-color: #ffffff; */
  margin: 0% 12%;
  padding: 0px 32px;
  height: 72px;
}
.logo{
  height: 48px;
}
.menu{
  height: 30px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100%;  
}
.nav-links{
  list-style: none;
  display: flex;
  align-items: center;
  height: 72px;
  font-family: paragraph-2;
  font-size: 1.15rem;
  font-weight: 500;
}
.down{
  height: 25px;
  width: 25px;
}
.nav-links a{
  text-decoration: none;
  color: #000000;
}
.nav-links li{
  display: flex;
  align-items: center;
  height: 72px;
  margin: 0px 6px ;
}
.icon-container{
  display: flex;
  gap: 20px;
}
.icon{
  height: 27px;
}

/* Design */
.hero-bg img{
  width: 100%;
}
.hero-bg-mobile img{
  width: 100%;
}
.hero-bg-mobile{
  display: none;
}
.design{
  padding: 0% 12%;
  position: relative;
  top: -30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h2{
  font-family: headings;
  font-size: 48px;
  letter-spacing: -1.4px;
  font-weight: 500;
}

.container-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2rem;
  padding: 50px 20px;
  background-color: #ffffff;
  
}
.design-content{
  margin: 10px 0px;
}
.design-item{
  margin: 10px 0;
  
}
.design-img{
  position: relative;
  overflow: hidden;
  
  
}
.design-img span{
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.068);
  padding: 10px;
  font-family: headings;
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 28px;
  text-align: center;
}
.design-img img {
  border-radius: 15px;
  width: 370px;
  max-height: 500px;
  object-fit: cover;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
.container-2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  max-width: 1170px;
  margin: 30px 20px;
}

.container-2 img {
  border-radius: 15px;
  height: 100%;
  scale: 1.05;
}
.container-2-texts-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  padding: 2.5rem;
  gap: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000000c;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: paragraph-1;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0px;
}
.text h2{
  display: flex;
  gap: 300px;
  font-family: Headings;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.4px;
}

.container-2-btn button{
  padding: .9em 1.2em;
  border-radius: 50px;
  border: none;
  background-color: #FFC20E;
  font-family: paragraph-3;
  font-size: 16px;
  font-weight: 500;
}
.container-2-btn button:hover{
  color: #ffffff;
  background-color: #B04000;

}

.maincontainer-3{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: visible;
  padding: 40px 20px;

}
.container-3{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.inner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.container-4{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}


.btns{
  padding: 12px 18px;
  border-radius: 20px;
  border: none;
  color: #61707D;
  background-color: #DFE2E4;
  margin: 6px;
  font-size: 14px;
  font-weight: 600;
}
.btns:hover{
  color: #ffffff;
  background-color: #000000;
}
.btn-1{
  padding: 12px 18px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  background-color: #000000;
  margin: 6px;
  font-size: 14px;
  font-weight: 600;
}
.wrapper-7{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #ffffff;
}
.container-7{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 20px;
  gap: 30px;
}
.inner-container-7{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.item img{
  height: 384px;
  width: 100%;
  border-radius: 15px;
}
.item p{
  font-family: paragraph-2;
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0px;
}

.wrapper-8{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.container-8{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1170px;
  margin: 40px 30px;
}
.inner-container-8{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)) ;
  gap: 20px;
  width: 100%;
}
.inner-container-8 img{
  height: 270px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
}
/* .last-btn{
  font-family: paragraph-1;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 40px;
  border: #000000 solid 1px;
  background-color: #FFFFFF;
} */

/* Footer  */

footer{
  background-color: #36A9C7;
  height: 500px;
  display: flex;
  justify-content: center;
  padding: 0 6%;
}
.footer-inner-container{
  display: flex;
  max-width: 1170px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.footer-logo{
  padding: 45px 0px;
}
footer hr{
  width: 1170px;
  background-color: #c7c7c757;
  height: 1px;
  border: none;
  margin: 30px 0;
  
}
.footer-text-container{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 50px; 
}
.footer-text-container h2{
  font-weight: 600;
  font-size: 18px;
  font-family: paragraph-1;
  font-weight: 600;
}
.footer-text-p p{
  display: flex;
  flex-wrap: wrap;
  font-family: paragraph-1;
  font-weight: 400;
}
.footer-text-p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 30px;
  font-weight: 300;
}
.footer-text-p img{
  height: 70px;
}
.footer-text-p a{
  color: #ffffff;
  font-weight: 200;
}

@media (max-width: 1200px) 
{
  .hero-bg{
    display: none;
  }
  .hero-bg-mobile{
    display: block;
  }
  .design{
    padding: 0px;
  }
  .header{
    display: none;
  }
  .head-inner-container{
    margin: 0;
  }
  .mob-header{
    display: block;
  }

}
